<header class="d-inline-block header">
<app-header></app-header>
</header>
<div class="d-inline-block  mx-4 mt-3 md:flex-row md:justify-content-between">
  <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="по цене облигации" (onChange)="onSortPrice($event)" styleClass="mb-2 md:mb-0" ></p-dropdown>
</div>
<div class="d-inline-block mx-2 mt-3 md:flex-row md:justify-content-between">
  <p-dropdown [options]="options" [(ngModel)]="key" placeholder="по размеру купона" (onChange)="onSortCoupon($event)" styleClass="mb-2 md:mb-0" ></p-dropdown>
</div>
<div class="d-block  bonds-block">
  <div class="d-inline-block  mt-3 mx-4 cards"
       *ngFor="let bond of bondsOnPage">
          <p-card  header="ISIN: {{bond.SECID}}"
                   (click)="goToBondInfoPage(bond)">
            <p class="m-0">
              Цена: {{bond.PREVPRICE}}р
            </p>
            <p class="m-0">
              Размер купона: {{bond.COUPONVALUE}}р
            </p>
          </p-card>
  </div>
</div>
<div class="flex-auto">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="length"
    [showCurrentPageReport]="true"></p-paginator>
</div>
