<div class="mt-4 mx-4">
  <canvas id="badCanvas1" width="400" height="100"></canvas>
  <p-panel header="{{newBondFromServer.SECID}}">
    <p>
      Предаварительная цена: {{newBondFromServer.PREVPRICE}}р.
    </p>
    <p>
      Дата выплаты следующего купона:  {{newBondFromServer.NEXTCOUPON}}.
    </p>
    <p>
      Размер купона: {{newBondFromServer.COUPONVALUE}}р.
    </p>
    <p>
      Дата выплаты облигации: {{newBondFromServer.MATDATE}}
    </p>
    <p-button
      label="Добавить в избранное"
      (click)="addFavorities($event)"
    ></p-button>
  </p-panel>
</div>
<p-toast></p-toast>
