.asaid-container {
  background-color: #A89CFF;
  color: white;
}

.menu {
  display: inline-block;
  height: 300px;
}

.menu ul{
  display: inline-block;
  list-style-type: none;
  margin-top: 50px
}

.menu li{
  width: 150px;
  margin-bottom: 20px
}

.link a{
  display: block;
  width: 200px;
}

.label {
  display: inline-block;
  width: 200px;
  color: white;
}

.icon {
  display: inline-block;
  height: 40px;
}

.icon i{
  margin-left: 35px;
}

.active a{
  background-color: #5D45FD;
}
