.asaid-container {
  background-color: #A89CFF;
  color: white;
  height: 100%;
}

.menu {
  display: inline-block;
  height: 90%;
  padding: 10%;
  width: 100%;
}

.menu ul{
  display: inline-block;
  list-style-type: none;
  margin-top: 30%;
  width: 100%;
}

.menu li{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5%;
  padding: 8%;
}

.link a{
  display: block;
  width: 30%;
  padding: 10%;
}

.label {
  display: inline-block;
  width: 100%;
  color: white;
}

.icon {
  display: inline-block;
  height: 40px;
}

.icon i{
  margin-left: 35px;
}

.active {
  background-color: #5D45FD;
}
