<div class="asaid-container d-flex">
  <div class="flex-row">
    <div class="mt-4 icon d-inline-block">
      <i class="pi pi-align-justify burger" (click)="isOpenMenu = !isOpenMenu" style="font-size: 30px"></i>
    </div>
    <div class="menu">
      <ul *ngIf="isOpenMenu">
        <li *ngFor="let item of items; let i = index"
            [ngClass]="('' + ((chapter == item.chapter) ? 'active' : ''))">
          <a (click)="navigateChapter(item.chapter)"
             class="link ">
            <span class="ml-2 label">{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
