app-main{
  height: 100vh;
  width: 100%;
}

.main{
  margin: 0;
  padding: 0;
  width: 1903px;
}

header{
  margin-top: 0;
  height: 100px;
  background-color: #EAEAEA;
  width: 100%;
}

.asaid {
  width: 10%;
  height: 100vh;
}

.block{
  width: 89%;
}

